
:root {
    --color1: #F8F7FF;
    --color2: #0#9381FF;
    --color3: #ddd;
    --color4: black;
    --color5: #FFEEDD;
    --color6: #FF1B1C;
    --color7: #9381FF;

    --tipografia1: Times;
    --tipografia2: Verdana;
    --tipogragia3: "Fascine Inline", system-ui;
    --tipografia4: Georgia, "Times New Roman", Times, serif;
    --tipografia5: "Caveat", cursive;

}

@font-face {
    font-family: 'Andada SC';
    src: url('AndadaSC-Regular.woff2') format('woff2'),
        url('AndadaSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: var(--tipografia1);
    font-size: 2rem;
    text-align: center;
    color: var(--color4)
}

h1 {
    font-family: var(--tipogragia3);
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: var(--tipografia4);
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: :auto;
    max-width: 1920px;
    font-family: 'Andada SC';
}

.progres {
    height: 10px;
    background: var(--color5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    scale: 0 1;
    animation: analitzador linear;
    animation-timeline: scroll();

    -webkit-animation-timeline: scroll();
        -moz-animation-timeline: scroll();
            animation-timeline: scroll();
}

@keyframes analitzador {
    to {
        scale: 1 1;
    }
}

@media (max-width: 480px)

{
    body {
        background-color: var(--color6);
    }
}

p {
    margin: 2rem;
}


@media (min-width: 481px) and (max-width: 1279px)

{
    body {
        background-color: var(--color7);
    }
}

@media (min-width: 1280px)

{
    body {
        background-color: var(--color5);
    }
}

p {
    columns: 2;
    text-align: justify;
}

.rodona {
    width: 10rem;
    height: 10rem;
    background: var(--color1);
    border-radius: 50%;
    margin: auto;
}