:root {
    /* Aquí hi van les variables */

}

@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura-Bold.woff2') format('woff2'), url('fonts/Futura-Bold.woff') format('woff'); 

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura-lleugera';
    src: url('fonts/FuturaCondMedium.woff2') format('woff2'), url('fonts/FuturaCondMedium.woff') format('woff'); 

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baskervville';
    src: url('fonts/Baskervville-Regular.woff2') format('woff2'), url('fonts/Baskervville-Regular.woff') format('woff');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    /* Aquí hi va el reset */
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Futura';
} 

html{
    height: 100%;
}


    /* Aquí hi van les propietats generals */

body {
    background: white;
    height:;
}

.cap {
    height: 30rem;
    background: linear-gradient(180deg,rgba(79, 145, 76, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    padding: 2rem;
    width: auto;
}

.cos {
    
}

h1 {
    text-align: center;
    font-family: 'Futura-Bold';
    color: white;
    font-size: 150px;
    position: relative;
    top: 3.5rem;
    animation: cambioColores 7s infinite alternate;
}

h2 {
    text-align: center;
    font-family: 'Baskervville';
    font-weight: 500;
    color: white;
    font-size: 40px;
    position: relative;
    top: 3.5rem;
}

.opcions {
    display: flex;
    justify-content: right;
    gap: 3rem;
    margin-top: -1rem;
    right: 2rem;
    position: relative;
}

h3, h4 {
    color: white;
    font-family: 'Futura-Bold';
    font-size: 16px;
    top: -14rem;
    position: relative;
}

ul {
    overflow: hidden;
    margin: auto;
    background: white;
    position: relative;
    top: -10rem;
}

li {
    width: 28rem;
    height: 30rem;
    background: black;
    margin: 1rem;
    float: left;
    list-style-type: none;
    color: white;
    text-align: center;
    line-height: 56rem;
    font-size: 30px;
    background-size: cover;
}

.horari {background-image: url(img/horari.png);}
.feedly {background-image: url(img/feedly.png);}
.watchmen {background-image: url(img/watchmen.png);}
.dames {background-image: url(img/dames.png);}
.ifpagram {background-image: url(img/ifpagram.png);}
.photoshop {background-image: url(img/photoshop.png);}
.floreta {background-image: url(img/floreta.png);}
.float {background-image: url(img/float.png);}
.progres {background-image: url(img/progres.png);}

:is(.horari, .feedly, .watchmen, .dames, .ifpagram, .photoshop, .floreta, .float, .progres):hover {
    transform: scale(1.02);
}

:is(.horari, .feedly, .watchmen, .dames, .ifpagram, .photoshop, .floreta, .float, .progres) {
    transition:0.3s;
}

a:visited {
    color: white;
}

a:link {
    color: white;
    text-decoration: none;
}

a::hover {
    olor: yellowgreen;
}

a:active {
    olor: yellowgreen;
}


.peu {
    height: 16rem;
    background: linear-gradient(360deg,rgba(79, 145, 76, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    margin-bottom:0;
}

h5 {
    text-align: center;
    font-family: 'Futura-Bold';
    color: #339966;
    font-size: 80px;
    position: relative;
    top: 2rem;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 3rem;
}

.correo,.telf {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 15%;
    background-size: cover;
    margin: 0;
    float: none;
}

.correo:hover, .telf:hover {
    transform: scale(1.02);
    transition:0.3s;
    opacity: 0.8;
}

.correo {background-image: url(img/correo.png);}
.telf {background-image: url(img/wsp.png);}

li:hover {
    opacity: 90%;
}

/* --------------Aquí hi van les propietats responsives------------------------------------------------- */

@media (max-width:480px) { /* Aquí hi van les versions mòbils petites a una columna*/
    ul {
        width: 100%;
    }

    h1 {
        font-size: 80px;
    }

     h5 {
        font-size: 30px;
    }
}

@media (min-width:481px) and (max-width:960px) { /* Aquí hi van les versions mòbils normals a una columna*/
    ul {
        width: 30rem;
    }
        h1 {
        font-size: 100px;
    }
}

@media (min-width:961px) and (max-width:1440px) { /* Aquí hi van les versions a dos columnes*/
    ul {
        width: 60rem;
    }
}


@media (min-width:1441px) { /* Aquí hi van les versions a pantalla completa amb tres columnes*/
    ul {
        width: 90rem;
    }
}

@keyframes cambioColores {
    0%   { color: #ffffff; }
    30%  { color: #ccff33; }
    60%  { color: #99ff66; }
    90%  { color: #66cc99; }
    90%  { color: #339966; }
    100% { color: #ffffff; }
}


Mobilefirst
Etructura de mòbil -  basica que surt per defecte 

estructura d'escriptori -- fer les nodificacions (columnes amb floats)

feskopfirst

estructura d'escriptori -- fer les modificacions (columnes amb floats)

