body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: #fff;
    background:#222;
}

.fitxa {
    height: 300px;
    width: 175px;
    margin: 10px;
    float: left;
}

.imatge {
    width: 175px;
    height: 260px;
    border-radius: 5px;
}

.titol {
    width: 100%;
    height: 20px;
    margin: 0;
}

.any {
    width: 50%;
    height: 20px;
    margin: 0;
    float: left;
}

.tipus {
    width: 50%;
    height: 20px;
    margin: 0;
    float: left;
    text-align: right;
}

.primera {background-image:url(img/1982Koyaanisqatsi.jpg);}
.segona {background-image:url(img/2004YTuQueSabes.jpg);}
.tercera {background-image:url(img/2005Earthlings.jpg);}
.quarta {background-image:url(img/2007Helvetica.jpg);}
.cinquena {background-image:url(img/2007Sicko.jpg);}
.sisena {background-image:url(img/2008Zeitgeist2.jpg);}
.setena {background-image:url(img/2009ArtAndCopy.jpg);}
.vuitena {background-image:url(img/2009Home.jpg);}
.novena {background-image:url(img/2009RipARemixManifesto.jpg);}
.desena {background-image:url(img/2010ComprarTirarComprar.jpg);}
.onzena {background-image:url(img/2010InsideJob.jpg);}
.dotzena {background-image:url(img/2011LaDoctrinaDeShock.jpg);}
.tretzena {background-image:url(img/2012SearchingForSugarMan.jpg);}
.catorzena {background-image:url(img/2012TheActOfKilling.jpg);}
.quinzena {background-image:url(img/2013ElEspirituDel45.jpg);}

h2 {
    clear: both;
    margin: 50px 0 0 0;
}

.peli {
    background: red;
}

.serie {
    background: yellow;
}

.documental {
    background:blue;
}

.vista {
    filter: grayscale(100%);
    
}

.fitxa:hover {
    opacity: 50%;
}

.navegacio {
    height: 50px;
    background: url(../img/quasinegre.png);
    position: fixed;
    z-index: 9999999999999999999999999999999999;
    top: 0;
    left: 0;
    right: 0;
    
}
.navegacio img {
    float: left;
    margin: 5px 20px;
}

.intern {
    width: 400px;
    float: left;
}
.extern {

    width: 400px;
    float: right;
}

li {
    float: left;
    margin: 0 20px;
    text-decoration: none;
    list-style-type: none;
}

a:link {
    color: #fff;
}
a:hover {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:active {
    color: #fff;
}