body{
    background: white;
}

.flor {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 1000;
}

.fulla {
    width: 100px;
    height: 100px;
    background: green;
    border-radius: 100% 0 100% 0%;
    position: absolute;
    top: 50px;
    left: 150px;
    transform-origin: 0px 100px;
    background-image: linear-gradient(0deg, orange, red);
}

.f1 {
    transform: rotate(0deg);
}

.f2 {
    transform: rotate(60deg);
}

.f3 {
    transform: rotate(120deg);
}

.f4 {
    transform: rotate(180deg);
}

.f5 {
    transform: rotate(240deg);
}

.f6 {
    transform: rotate(300deg);
}

.cor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    top: 125px;
    left: 125px;
    background-image: linear-gradient(0deg, yellow, cyan);
}

@keyframes rotacio {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.tronco {
    width: 300px;
    height: 600px;
    position: relative;
    top: -150px;
    z-index: 500;
}

.tallo {
    width: 16px;
    height: 600px;
    background: brown;
    position: relative;
    left: 142px;
}

.mig {
    top: 300px;
}

.conjunt:hover .flor {
    animation: 1s rotacio linear infinite;
}

.conjunt {
    width: 300px;
}