.htmlNoPages .gwd-motion-path-11fc-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["-617px", "-190px", "-408.51px", "-226.92px", "-173.67px", "-75.43px", "-160px", "278px"], "startTimeMs": 0, "endTimeMs": 1000, "easing": "linear"
    }
    , {
      "controlPoints": ["-160px", "278px", "276.08px", "-1081.57px", "793.18px", "263.12px", "636px", "29px"], "startTimeMs": 1000, "endTimeMs": 2000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 2s linear 0s 1 normal forwards running gwd-motion-path-11fc-keys-x;
  transform: translate3d(-617px, 0px, 0px);
}
@keyframes gwd-motion-path-11fc-keys-x {
  0% {
    transform: translate3d(-617px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3304, 0.3361, 0.6503, 0.6835);
  }
  16.25% {
    transform: translate3d(-382.21px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2074, 0.396, 0.4964, 0.9536);
  }
  50% {
    transform: translate3d(-160px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4063, 0.253, 0.7623, 0.5805);
  }
  73.75% {
    transform: translate3d(169.4px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3473, 0.3205, 0.6306, 0.7016);
  }
  85% {
    transform: translate3d(463.32px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2841, 0.3739, 0.6146, 0.729);
  }
  96.25% {
    transform: translate3d(647.18px, 0px, 0px);
  }
  97.5% {
    transform: translate3d(659.68px, 0px, 0px);
  }
  98.75% {
    transform: translate3d(658.82px, 0px, 0px);
  }
  100% {
    transform: translate3d(636px, 0px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-11fc-anim-y {
  animation: 2s linear 0s 1 normal forwards running gwd-motion-path-11fc-keys-y;
  transform: translate3d(0px, -190px, 0px);
}
@keyframes gwd-motion-path-11fc-keys-y {
  0% {
    transform: translate3d(0px, -190px, 0px);
    animation-timing-function: cubic-bezier(0.4836, -0.2998, 0.857, 0.6758);
  }
  22.5% {
    transform: translate3d(0px, -94.81px, 0px);
    animation-timing-function: cubic-bezier(0.371, 0.2898, 0.6813, 0.6555);
  }
  50% {
    transform: translate3d(0px, 278px, 0px);
    animation-timing-function: cubic-bezier(0.3251, 0.3406, 0.6481, 0.6867);
  }
  68.75% {
    transform: translate3d(0px, -203.09px, 0px);
    animation-timing-function: cubic-bezier(0.2852, 0.3566, 0.5877, 0.7823);
  }
  76.25% {
    transform: translate3d(0px, -331.02px, 0px);
    animation-timing-function: cubic-bezier(0.4331, -0.4283, 0.8571, 0.7307);
  }
  86.25% {
    transform: translate3d(0px, -242.1px, 0px);
    animation-timing-function: cubic-bezier(0.3587, 0.3051, 0.6864, 0.6493);
  }
  97.5% {
    transform: translate3d(0px, 26.73px, 0px);
  }
  98.75% {
    transform: translate3d(0px, 56.13px, 0px);
  }
  100% {
    transform: translate3d(0px, 29px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}